# General Folders #
/*.*~
/build/*
/.classpath
/.gradle/*
/**/build/*
/.project
/.settings/org.eclipse.jdt.core.prefs
/**/.classpath
/**/.project
/**/.settings/*
/**/*.class
/**/target/*
/**/bin/*
*.log
/**/*.log
nb*
/**/nb-configuration.xml
/.idea/*
*.iml
./**/bin/*
./**/dist/*
./**/target/*

# C Files #
*.o
*.d

# Java Files #
*.class
.settings*
.project
.classpath

# Package Files #
*.jar
*.war
*.ear
*~
/projecteuler/c/dist/
/projecteuler/c/build/